{% render 'partials/head.liquid' %}

<div class="wrapper-flipkaart">

{% comment %} Vooorkant flipkaart {% endcomment %}
<div class="front">

  <button>Switch to back</button>
  <img src="/assets/profile-amber.jpg" alt="">
  <h1>Amber Schalker</h1>
  <p>Student FDND</p>

  <div class="divider"></div>

  <div class="info">
    <div class="tooltip"><i class="fa fa-user"></i>Wie ben ik
          <span class="tooltiptext">
            Ik ben Amber Schalker, 21 jaar en ik kom uit Nieuwegein.
          </span>
    </div>
     <div class="tooltip"><i class="fa fa-user"></i>Wie ben ik
          <span class="tooltiptext">
            Ik ben Amber Schalker, 21 jaar en ik kom uit Nieuwegein.
          </span>
    </div>
     <div class="tooltip"><i class="fa fa-user"></i>Wie ben ik
          <span class="tooltiptext">
            Ik ben Amber Schalker, 21 jaar en ik kom uit Nieuwegein.
          </span>
    </div>
     <div class="tooltip"><i class="fa fa-user"></i>Wie ben ik
          <span class="tooltiptext">
            Ik ben Amber Schalker, 21 jaar en ik kom uit Nieuwegein.
          </span>
    </div>
     <div class="tooltip"><i class="fa fa-user"></i>Wie ben ik
          <span class="tooltiptext">
            Ik ben Amber Schalker, 21 jaar en ik kom uit Nieuwegein.
          </span>
    </div>

    <a class="qr-code" href="#"><img src="/public/assets/qrcode.png" alt=""></a>

  </div>

</div>

{% comment %} Achterkant flipkaart {% endcomment %}

<article class="back">

    <a class="qr-code" href="#"><img src="/public/assets/qrcode.png" alt=""></a>

    <h2>Get in touch</h2>
    <p>Student FDND</p>
    <div class="divider"></div>
    <a href="#">Mijn repository's</a>

     <div class="socials">
            <a href="https://www.instagram.com/amberschalker/" class="fa fa-instagram"></a>
            <a href="https://www.linkedin.com/in/amber-schalker-0a82441b6/" class="fa fa-linkedin"></a>
            <a href="https://dribbble.com/Schalker" class="fa fa-dribbble"></a>
    </div>

</article>

</div>

    <script src="/scripts/script.js"></script>

{% render 'partials/foot.liquid' %}
